body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#object {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}
h4{
    color: black;   
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
